* {
    box-sizing: border-box;
}
body, html {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    margin: 0;
}
nav {
    width: 100%;
    text-align: center;
    color: #333;
    padding: 10px;
}
.container {
    width: 100%;
    padding: 0px 0px;
    max-width: 960px;
    margin: 0 auto;
    background: #efefef;
    display: grid;
    grid-template-columns: 1fr 250px;
    padding-bottom: 60px;
}
main.grid__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    grid-auto-rows: 1fr;
    position: relative;
}
main.grid__box::before {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    width: 0px;
    padding-bottom: 100%;
    content: '';
}
main.grid__box::after {
    position: absolute;
    bottom: -20px;
    right: 30px;
    font-size: 0.82rem;
    color: #333;
    content: 'Shuffle and sort by Govind Sharma'
}
main.grid__box > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
main.grid__box .shufflebox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #fff;
}
/* main.grid__box .shufflebox:first-child, main.grid__box .shufflebox:nth-child(8) {
    background-image: linear-gradient(to right, #6F98A8, #6F98A8);
}
main.grid__box .shufflebox:nth-child(n + 2):nth-child(odd):nth-child(-n+9) {
    background-image: linear-gradient(to right, #2F454E, #2F454E);
}
main.grid__box .shufflebox:nth-child(2n + 2):nth-child(-n + 4) {
    background-image: linear-gradient(to right, #2B8EAD, #2B8EAD);
}
main.grid__box .shufflebox:nth-child(6), main.grid__box .shufflebox:nth-child(7) {
    background-image: linear-gradient(to right, #BFBFBF, #BFBFBF) !important;
} */

.box__1,.box__8 {
    background-image: linear-gradient(to right, #6F98A8, #6F98A8);
}
.box__2,.box__4 {
    background-image: linear-gradient(to right, #2B8EAD, #2B8EAD);
}
.box__3,.box__5,.box__9  {
    background-image: linear-gradient(to right, #2F454E, #2F454E);
}
.box__6,.box__7  {
    background-image: linear-gradient(to right, #BFBFBF, #BFBFBF);
}
.grid__action {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
}

.grid__action > button {
    background: #72C3DC;
    font-size: 1rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #72C3DC;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 5px 0px rgba(77, 166, 193, 1);
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}
.grid__action > button:hover {
    background: rgba(77, 166, 193, 1);
    box-shadow: 0px 5px 0px rgba(28, 120, 142, 1);
    transition: all 0.2s ease;
}
.grid__action > button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px rgba(77, 166, 193, 1);
    transition: all 0.2s ease;
}
.grid__box {
    grid-area: main;
}
.grid__action {
    grid-area: sidebar;
}
.container {
    grid-template-areas: "main sidebar";
}

@media only screen and (max-width: 667px) { 
    nav {
        background: #333;
        color: #fff;
        font-size: 1.5rem;
    }
    .container {
        padding: 0px 15px 60px 15px;
        grid-template-columns: 1fr;
        grid-template-areas: "sidebar" "main";
    }
    main.grid__box {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    main.grid__box::before {
        padding-bottom: 0%;
    }
    .grid__action {
        flex-flow: row nowrap;
        justify-content: center;
    }
    .grid__action > button {
        height: 44px;
        max-width: 100px;
        min-width: 100px;
        margin: 0px 5px;
    }
    main.grid__box .shufflebox {
        margin-bottom: 5px;
        font-size: 1.5rem;
        color: #333;
        padding: 15px 0px;

    }
    .box__1,.box__8 {
        background-image: linear-gradient(to right, #6F98A8 3%, #e3e3e3 3%);
    }
    .box__2,.box__4 {
        background-image: linear-gradient(to right, #2F454E 3%, #e3e3e3 3%);
    }
    .box__3,.box__5,.box__9  {
        background-image: linear-gradient(to right, #2B8EAD 3%, #e3e3e3 3%);
    }
    .box__6,.box__7  {
        background-image: linear-gradient(to right, #BFBFBF 3%, #e3e3e3 3%);
    }
}